<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{noticia.categoria}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="noticia.imagen" alt="">
<!-- <h1>{{noticia.titulo}}</h1> -->
<ion-grid class="container">
  <h1>
    {{noticia.titulo}}
  </h1>
  <p>{{noticia.descripcion}}</p>
</ion-grid>
</ion-content>
