<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-grid class="section" *ngFor="let section of sections">
    <ion-row class="header">
      <ion-col class="title">
        {{section.header.title}}
      </ion-col>
    </ion-row>

    <ion-row class="body">
      <ion-col [size]="section.body.imgSize && section.body.imgSize || sectionsConfig.imgSize">
        <img [src]="section.body.img" alt="">
      </ion-col>
      <ion-col [size]="section.body.contentSize && section.body.contentSize || sectionsConfig.contentSize" class="content">
        {{section.body.content}}
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
